.main {
  height: auto;
  margin: 5.8rem auto 2rem;
  width: 80%;

  @media (max-width: 767px) {
    margin-top: 7.8rem;
    margin-bottom: 0;
    padding: 1rem;
    width: 100%;
  }
}

.lightBoxFlex {
  display: flex;
  padding: 2rem;
}