.main {
  height: auto;
  margin: 5.8rem auto 2rem;
  width: 80%;

  @media (max-width: 767px) {
    margin-top: 7.8rem;
    margin-bottom: 0;
    padding: 1rem;
    width: 60%;
  }
}
// .mainHome {
//   margin-top: 5.8rem;

//   @media screen and (max-width:767px) {
//     margin-top: 7.8rem;
//   }
// }

 .lightBoxFlex {
  display: flex;
  margin: auto;
  justify-content: space-around;
  padding: 5rem 0;
  width: 70%;

  @media (max-width: 767px) {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 0;
    width: 100%;
  }
}

.illustColumn {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: fit-content;
}
.mainTitle {
  font-size: 32px;
  font-weight: bold;
  margin: 5.8rem auto 1rem;
  text-align: center;
}
.mainSubTitle {
  margin: 1rem 0 1rem 0;
  text-align: center;
}
.illustSingle {
  background-color: #fafafa;
  border: solid 0.1px #eeeeee;
  border-radius: 8px;
  box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.1);
  // width: calc(25% - 20%);
  height: auto;
  margin: 2rem;
  padding: 0;

  @media (max-width: 767px) {
      // width: calc(50% - 32px);
      text-align: center;
      width: 45%;
  }
}
.next {
  background-color: #eeeeee;
  border-radius: 32px;
  font-weight: bold;
  margin: 2rem auto 2.4rem;
  text-align: center;
  width: 80%;
  max-width: 300px;

  @media (max-width: 767px) {
    width: 60%;
    margin-bottom: 2rem;
  }
}
.nextInner {
  align-items: center;
  background: #fff;
  box-sizing: border-box;
  display: flex;
  height: 50px;
  justify-content: center;
  position: relative;
  width: 100%;
}
.nextInnerIn {
  align-items: center;
  background: #fff;
  box-sizing: border-box;
  box-shadow: 0px 5px 12px #CAD4E2, -6px -6px 12px #FFF;
  border-radius: 10px;
  color: #333;
  display: flex;
  font-size: 14px;
  height: 50px;
  justify-content: center;  
  left: 0;
  letter-spacing: 0.1em;
  position: absolute;
  top: -5px;
  text-decoration: none;
  transition-duration: 0.2s;
  width: 100%;

  &:hover {
    box-shadow: 0 0 4px #CAD4E2, -2px -2px 4px #FFF;
    left: 0;
    top: 0;
  }
}
